@model SchoolMS.Models.Admin
@{
    ViewBag.Title = "Edit";
    Layout = null;
}
    <link href="~/css/Admin.css" rel="stylesheet" />

<form id="msform" action="/Admin/Edit" method="post">
    <!-- progressbar -->
    <!-- fieldsets -->


    <fieldset>
        <h2 class="fs-title">Edit Admin</h2>

        <div class="container">
            <div class="row">

                <input name="id" value="@Model.Id" type="hidden" />
                <input name="id" value="@Model.Password" type="hidden" />
                <input name="id" value="@Model.ConfirmPassWord" type="hidden" />

                <div class="col-lg-5">
                    @Html.TextBoxFor(a => a.Name)
                </div>
                <div class="col-lg-4">
                    @Html.ValidationMessageFor(a => a.Name, null, new { @class = "text-danger" })
                </div>

            </div>

            <br />

            <div class="row">

                <div class="col-lg-5">
                   @Html.TextBoxFor(a=>a.Salary)
                </div>
                <div class="col-lg-4">
                    @Html.ValidationMessageFor(a => a.Salary, null, new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <input type="submit" value="Edit" class="submit action-button" />
            <input type="reset" value="Clear" class="submit action-button" />
        </div>
    </fieldset>
</form>

<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>

