@model SchoolMS.Models.Tutor


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link href="~/css/Admin.css" rel="stylesheet" />

    <title>TutorRegistration</title>
</head>
<body>
    <!-- multistep form -->
    <form id="msform" action="/Account/TutorRegistration" method="post">
        <!-- progressbar -->
        <!-- fieldsets -->


        <fieldset>
            <h2 class="fs-title">Personal Details</h2>

            <div class="container">
                <div class="row">

                    <div class="col-lg-5">
                        @Html.TextBoxFor(a => a.Name, null, new { @class = "form-control", @placeholder = "Name" })
                    </div>
                    <div class="col-lg-4">
                        @Html.ValidationMessageFor(a => a.Name, null, new { @class = "text-danger" })
                    </div>

                </div>

                <br />
                <div class="row">

                    <div class="col-lg-5">
                        @Html.PasswordFor(a => a.PassWord, new { @class = "form-control", @placeholder = "Password" })
                    </div>
                    <div class="col-lg-4">
                        @Html.ValidationMessageFor(a => a.PassWord, null, new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-lg-5">
                        @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
                    </div>
                    <div class="col-lg-4">
                        @Html.ValidationMessageFor(a => a.ConfirmPassword, null, new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-lg-5">
                        @Html.TextBoxFor(a => a.Salary, new { @class = "form-control", @placeholder = "Salary" })
                    </div>
                    <div class="col-lg-4">
                        @Html.ValidationMessageFor(a => a.Salary, null, new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                <br />
                <div class="row">

                    <div class="col-lg-5">
                        @Html.TextBoxFor(a => a.Age, new { @class = "form-control", @placeholder = "Age" })
                    </div>
                    <div class="col-lg-4">
                        @Html.ValidationMessageFor(a => a.Age, null, new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <input type="submit" name="submit" class="submit action-button" value="Submit" />
            </div>
        </fieldset>
    </form>

    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>

